#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color:white;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: block;
    list-style: none;
    float: right;
}

nav a {
    display: block; /*make area clickable*/
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 30px;
}

nav a:hover {
    background-color: rgb(55, 46, 90);
    color: white;
}
